* {
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}

#backgr {
    clear: both;
    background-color: black;
    width: 890px;
    height: 2040px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images_concept/bg6.gif);
    background-image: url(images_concept/bg9.gif);
}

body {
    font-family: Arial;
    text-align: center;
    background-image: url(images_gallery/bg.gif);
}

#menu {

   margin: auto;
    width: 700px;

}

#menu li {
    list-style: none;
    float: left;
    height: 25px;
    padding: 0 3px 0 3px;
    position: relative;
}

#menu li a {
    text-decoration: none;
    font-family: Calibri, Tahoma, Arial;
    color: #333333;
    font-size: 12pt;
    font-weight: bold;
}

#menu li a:hover {
    color: #FF3333;
}

#menu li ul {
    position: absolute;
    display: none;
    top: 1.5em;
    left: 0.5em;
    padding: 0;
    background: #ff9933;
}

#menu li ul li {
    margin: 10px 0 10px 0;
    height: 15px;
    float: none;
    width: 100%;
}

#menu li:hover ul {
    display: block;
}


#menu li ul li a {

    display: block;
    width: 100%;
    border: none;
    font-family: Tahoma;
    color: #333333;
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
}