* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
}

#topheading {
    font-size: xx-large;
    color: #333333;
    font-weight: bold;
    word-spacing: 1px;
}

#bottomheading {
    color: #808080;
    font-size: large;
    word-spacing: 1px;
}

#artworks {
    clear: left;
    text-decoration: none;
    color: #F44500;
    padding-top: 20px;
}

body {
    font-family: Arial;
    text-align: center;
    background-image: url(images/bg.gif);
}

#menu {
    /*Remove the dots in the dropdown menu */
    
    align-content: center;
    width: 766px;
    margin: auto;
    list-style: none;
    font-family: fantasy;
}
/* Dropdown menu formatting */

#menu ul,
#menu ul li {
    list-style: none;
    display: block;
}
/* Main menu appears in one line (and not in one column) */

#menu li {
    float: left;
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
}
/* Main menu formatting */

#menu li a {
    text-decoration: none;
    display: block;
    border: none;
    vertical-align: middle;
    padding: 0px 5px;
    font-family: Tahoma;
    color: #333333;
    font-size: 13pt;
    font-weight: normal;
}
/* Dropdown menu (under "Foundation" and "Contacts") is hidden by default*/

#menu li ul {
    display: none;
    position: absolute;
    top: 1.5em;
    left: .5em;
    background: #FFFFFF;
}
/* Dropdown menu (under "Foundation" and "Contacts") is displayed on hover */

#menu li:hover ul {
    display: block;
}
/* Dropdown menu (under "Foundation" and "Contacts") appears in one column */

#menu li ul li {
    float: none;
    width: 100%;
}
/* Dropdown menu (under "Foundation" and "Contacts") formatting */

#menu li ul li a {
    display: block;
    border: none;
    vertical-align: middle;
    padding: 0 .5em;
    font-family: Tahoma;
    color: #666666;
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
}

#menu li ul li + li {
    margin-top: -1px;
}

#img {
    width: auto;
}

.images {
    width: 766px;
    height: 213px;
    margin: auto;
    padding: auto;
}

#topimage {
    margin: auto;
    width: 766px;
    height: 213px;
    padding-bottom: 30px;
}

#line {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 4px;
}