* {
    margin: 0 0 0 0;
}

#h1 {
    font-style: bold;
    font-size: 6;
    color: #333333;
}

#h2 {
    word-spacing: 1px;
    color: #808080;
    font-size: 4;
}

#artwork {
    text-decoration: none;
    color: #F44500;
}

body {
    font-family: Arial;
    text-align: center;
    align-content: center;
    background-image: url(images/bg.gif);
}

#menu {
    /*Remove the dots in the horizontal menu */
    
    list-style: none;
}

#menu ul,
#menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    float: left;
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
}

#menu li a {
    display: block;
    border: none;
    padding: 0 5px;
    font-family: Tahoma;
    color: #333333;
    font-size: 13pt;
    font-weight: bold;
}
/* Dropdown menu (under "Foundation" and "Contacts") */

#menu li ul {
    display: none;
    position: absolute;
    top: 1.5em;
    left: .5em;
    background: #FFFFFF;
}

#menu li:hover ul {
    display: block;
}

#menu li ul li {
    float: none;
    width: 100%;
}

#menu li ul li a {
    text-align: center;
    align-content: center;
    display: block;
    border: none;
    vertical-align: middle;
    padding: 0 .5em;
    font-family: Tahoma;
    color: #666666;
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
}

#menu li ul li + li {
    margin-top: -1px;
}
/************** IE 6 ***************/

* html #menu {
    border-left: 0;
}

* html #menu li a {
    border-left: 0;
}

* html #menu ul {
    border-bottom: 0;
}

* html #menu li li a {
    border-bottom: 0;
}

* html #menu li ul {
    display: block;
}

* html #menu li a:hover {
    position: static;
}

* html #menu li a:hover table {
    visibility: visible;
}

* html #menu table {
    position: absolute;
    border-collapse: collapse;
    top: 0;
    left: -1px;
    visibility: hidden;
}
/************** END IE 6 ***************/

#menu > li a {
    outline: 0;
    text-decoration: none;
}

#menu li:hover a,
#menu li a:hover a {
    color: #666666;
}

#menu li li a,
#menu li:hover li a,
#menu li a:hover li a {
    background: #FFF;
}

#menu li ul li:hover a,
#menu li ul li a:hover {
    background: #EEE;
}